@import "../../variables.scss";

.portfolio-container {
    background-color: $blanco;
    height: 150vh;
   margin-top: -10vh;
    //z-index: -3;
    position: relative;

    h1 {
        font-family: 'royal-ave';
        font-size: $titulo-size;
        padding-bottom: 40px;
        color: $negro;
        //background-color: red;
    }

    .espacio {
    //    padding-top: 40vh;
    }

    .tres {

        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 50px;

    }

    .dos {
        justify-content: space-evenly;

    }

}