.boton-acceso {
    width: 250px;
    height: 250px;
    //border: 1px solid blue;
    border-radius: 100%;
    cursor: pointer;
    background-color: red;

 //   display: flex;
  //  flex-wrap: wrap;
    position: relative;
    .imagen {
        position:absolute;
         top: 35px;
        left: 34px;
        //z-index: 20;
        border-radius: 100%;
        width: 180px;
        height: 180px;
        object-fit: cover;
    }


}