.container-identidad{
    width: 100%;
    background-color: rgb(255, 255, 255) ;
    padding-top: 120px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 50px;
    h1{
             font-family: "montserrat" !important;
    }

	.video-id {
		position: relative;

        		.loading {
			position: absolute;
			top: 30%;
			left: 50%;
			width: 70px;
			transform: translateX(-50%);
		}

			width: 560px;
			height: 315px;
            iframe {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}

		}
}