@import "../../variables.scss";

.form {
  width: 60vw;
  font-family: $komet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mail,
  .textarea {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 10px 0;
    transition: 0.3s;
    outline: none;
    border: 3px solid $azul-oscuro;
    background-color: transparent;
    color: $blanco;
    font-size: 16px;
    font-weight: bolder;
  }

  .mail::placeholder,
  .textarea::placeholder {
    color: $blanco;
  }

  .mail:focus,
  .textarea:focus {
    border: 3px solid #282355;
    background-color: rgba(0, 0, 0, 0.274);
    color: white;
  }

  .textarea {
    height: 40%;
  }

  .button {
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    color: $blanco;
    padding: 3px 5px;
    width: 130px;
    cursor: url("../../assets/cursorazul.png"), pointer !important;
    border: 3px solid $azul-oscuro;
    font-weight: bolder;

    &:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.418);
      transition: 0.8s;
    }
  }

  .loading {
    padding-top: 10px;
    width: 100px;
    margin: 0 auto;
  }

}

.message {
  margin-left: 20px;
  font-family: "komet";
  color: white;
  font-size: 30px;
}


@media only screen and (max-width: 900px) {
  .form {
    width: 80vw;



    .textarea {
      height: 100px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .form {
    width: 100%;

    .textarea {
      height: 100px;
    }
  }
}