 .container-nosotras {
    margin-top: 120px;
    gap: 40px;
    
    &,.textos, .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textos {
        width: 60vw;
        gap: 30px;
    }

    h1,
    span {
        font-family: 'montserrat';
    }
    span{
        text-align: center;
    }
    .contenido {
gap:50px;
padding-bottom: 30px;
    }
    .personajes{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 70%;
        img{
            width: 100px;
        }
    }
}