 .container-nosotras {
     margin-top: 120px;
     gap: 40px;

     &,
     .textos,
     .contenido {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .textos {
         width: 60vw;
         gap: 30px;

         span {
             font-size: 23px;
         }

         .cambiamos {
             font-family: 'royal-ave';
         }
     }

     h1,
     span {
         font-family: 'montserrat';
     }

     span {
         text-align: center;
     }

     .contenido {
         gap: 50px;
         padding-bottom: 30px;
         //width: 100%;
     }

     .personajes {


         width: 90%;
         display: grid;
         grid-template-columns: repeat(7, auto);
         //grid-column: 2/4;
         justify-content: center;
         align-items: center;
         grid-row-gap: 10px;
         grid-column-gap: 10px;
         //align-self: center;
         //  background-color: blue;
         //text-align: center;

         img {
             width: 150px;
         }
     }

     .video-id {
         position: relative;
         width: 100%;
         height: 315px;

         .loading {
             position: absolute;
             top: 30%;
             left: 50%;
             width: 70px;
             transform: translateX(-50%);
         }

         iframe {
             width: 100%;
             height: 100%;
             border-radius: 10px;
         }

     }

 }

 @media (max-width: 1200px) {
     .container-nosotras {

         .personajes {

             grid-template-columns: repeat(3, auto);

             .last {
                 grid-column-start: 2;
                 grid-column-end: 4 !important;
             }
         }
     }
 }

 @media (max-width: 770px) {
     .container-nosotras {

         .personajes {

             grid-template-columns: repeat(3, auto);


         }
     }
 }

 @media (max-width: 590px) {
     .container-nosotras {
         .personajes {
             grid-template-columns: repeat(2, auto);

             .last {   
             width: 300px;
             height: 150px;
             object-fit: contain;
        
                 grid-column-start: 1;
                 grid-column-end: 3 !important;
             }
         }

         .video-id {
             width: 90%;
         }
     }
 }

 @media (max-width: 490px) {
     .container-nosotras {

         .personajes {
             grid-template-columns: repeat(2, auto);

             // Ajusta el tamaño según prefieras

             // Seleccionamos la última imagen para que ocupe las 2 columnas
             //  .last {
             //      grid-column: 1 / span 2;
             //  }

         }
     }
 }