@import "../../../variables.scss";

.portfolio-container {
    background-color: $blanco;
    // height: 150vh;
    margin-top: -20vh;
    //z-index: -3;
    position: relative;

    h1 {
        font-family: 'royal-ave';
        font-size: $titulo-size;
        padding-bottom: 10px;
        color: $negro;
        //background-color: red;
    }



}