@import "../../../variables.scss";

#contacto {
  
  background-image: url("../../../assets/fondo/OndaWebeditada.png");
  background-position: center;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  color: $blanco;
  font-family: $royal;
}

.contact_container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;

  // background-color: green;
  .chusmea {
    padding-top: 70px;
    font-family: $royal;
    color: $blanco;
  }

  .links {
    //  background-color: blue;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 70px;
      width: 100px;

      // cursor: pointer;
      &:hover {
        opacity: 0.4;
        transition: 0.8s;
      }
    }
  }
}
.portafolio-contact{
 // background-color: $azul-claro;
}
@media only screen and (max-width: 850px) {
  .contact_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    padding-top: 50px;
  }

  .contact_container {
    .links {
      img {
        height: 70px;
        width: 70px;
      }
    }
  }
}