@import "../../../variables.scss";

#contacto {

  height: 110vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.portafolio-contact {
  background-color: $fondo-portafolio;
}

.fondo {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover !important;
  object-position: 100% 0%;

}

.title {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  color: $blanco;
  font-family: $royal;
}

.contact_container {
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;

  .chusmea {
    padding-top: 70px;
    font-family: $royal;
    color: $blanco;
  }

  .links {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 70px;
      width: 100px;
      &:hover {
        opacity: 0.4;
        transition: 0.8s;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chusmea {
    padding-top: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    padding-top: 50px;
  }

  .contact_container {
    .links {
      img {
        height: 70px;
        width: 80px;
      }
    }
  }
}


@media (max-width: 1300px) {
  .fondo {
    object-position: 50% 0%;
  }

  .contact_container {
    .links {
      img {
        height: 50px;
        width: 70px;
      }
    }
  }
}