@import "../../../variables.scss";

.text-a-container {
    width: 100%;
    position: relative;
    margin-top: -130px;
    height: 330vh;
    font-family: $komet;

    .fondo {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover !important;
        object-position: 100% 100%;

    }

    .espacio {
        padding-top: 400px;
    }

    .texto {
        font-size: $titulo-size;
        color: #fff;
        font-weight: 600;
        text-shadow: 5px 5px 10px black;
    }

    .textos-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        //margin-top: 50vh;
        gap: 60vh;

        //background-color: blue;

        .split-text-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            overflow: hidden;

            .text-part {
                display: inline-block;
                position: relative;
                transform: translateX(0);
                animation-duration: 2.5s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                opacity: 0;
            }


        }

        .uno {
            .right {
                margin-left: 16%;
            }
        }

        .dos {
            align-items: end;

            .left {
                margin-right: 30%;
                // animation-name: slide-in-right-dos;
            }
        }

        .tres {
            align-items: center;
        }

        .active {
            .text-part.left {
                transform: translateX(-150vw);
                animation-name: slide-in-left;
            }

            .text-part.right {
                transform: translateX(150vw);
                animation-name: slide-in-right;
            }
        }
    }

    @keyframes slide-in-left {
        0% {
            transform: translateX(-150vw);
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slide-in-right {
        0% {
            transform: translateX(150vw);
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

}



@media (min-width: 100px) and (max-width: 900px) {
    .text-a-container {
        height: 200vh !important;

        //margin-top: -130px;
        .espacio {
            padding-top: 200px !important;
        }
    }

    .textos-container {
        gap: 40vh !important;
    }

    .texto {
        font-size: 38px !important;
    }

}


@media (min-width: 900px) and (max-width: 1300) {
    .text-a-container {
        height: 300vh;
    }

    .textos-container {
        gap: 75vh !important;
        //  background-color: blue;
    }

    .dos {
        .left {
            margin-right: 20% !important;
        }
    }
}


@media (min-width: 900px) and (max-width: 1200) {
    .text-a-container {
        height: 290vh;
    }

    .textos-container {
        gap: 65vh !important;
        //  background-color: blue;
    }

    .dos {
        .left {
            margin-right: 20% !important;
        }
    }
}

@media (min-width: 1200px) {

    .text-a-container {
        height: 280vh;
    }

    .textos-container {
        gap: 65vh !important;
        //  background-color: blue;
    }

}

@media (min-width: 1500px) {

    .dos {
        .left {
            margin-right: 20% !important;
        }
    }

}



@media (min-width: 1800px) {

    .text-a-container {

        margin-top: -200px;

        height: 250vh;
    }

    .textos-container {
        gap: 40vh !important;
        //  background-color: blue;
    }

}