@import "../../../variables.scss";

.text-a-container {
    width: 100%;
    position: relative;
    margin-top: -100px;
    height: 375vh;
    font-family: $komet;

    .fondo {
        position: absolute;
        width: 100%;
        z-index: -2;
    }

    .espacio {
        padding-top: 400px;
    }

    .texto {
        font-size: $titulo-size;
        color: #fff;
        font-weight: 600;
        text-shadow: 5px 5px 10px black;
    }

    .textos-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        //margin-top: 50vh;
        gap: 60vh;

        //background-color: blue;

        .split-text-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            overflow: hidden;

            .text-part {
                display: inline-block;
                position: relative;
                transform: translateX(0);
                animation-duration: 2s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                opacity: 0;
            }


        }

        .uno {
            .right {
                margin-left: 20%;
            }
        }

        .dos {
            align-items: end;

            .left {
                margin-right: 20%;
                // animation-name: slide-in-right-dos;
            }
        }

        .tres {
            align-items: center;
        }

        .active {
            .text-part.left {
                transform: translateX(-200%);
                animation-name: slide-in-left;
            }

            .text-part.right {
                transform: translateX(200%);
                animation-name: slide-in-right;
            }
        }
    }

    @keyframes slide-in-left {
        0% {
            transform: translateX(-200%);
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slide-in-right {
        0% {
            transform: translateX(200%);
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

}