.card-proyecto-container {
     transition:  0.5s;
  // background-color: #475AA6;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: url("../../assets/cursorazul.png"), pointer !important;

  img {
    border-radius: 20px;

    width: 100%;
    height: 100%;
    object-fit: cover;
    //        object-fit: contain;
  }

  .centerRight {
    object-fit: cover;
    object-position: 100% 100%;


  }
}

.card-proyecto-container:hover {
  box-shadow: 1px -1px 21px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 21px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 21px -3px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1014px) {
  .card-proyecto-container {
    width: 250px;
    height: 250px;

  }
}
@media only screen and (max-width: 500px) {
  .card-proyecto-container {
    width: 300px;
    height: 300px;

  }
}