@import "../../variables.scss";

.container-home {
    width: 100%;
    height: 100vh;
    position: relative;

    .bosque {
        height: 100%;
        width: 100%;
        object-fit: cover !important;
        object-position: 100% 100%;
    }
}



@media (min-width: 1300px) {

    .container-home {

        height: 140vh;
        position: relative;

        .bosque {
            object-fit: cover !important;

        }
    }


}