.modaaaal {

	font-family: "royal-ave";

	.modal-header {
		border-bottom: 0px !important;
		padding-bottom: 0px !important;
	}

	.modal-body {
		padding-top: 0px !important;
		font-family: "komet";
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		position: relative;

		.tentaculoIzquierda {
			position: absolute;
			left: 0;
			width: 100px;
		}

		.tentaculoDerecha {
			width: 130px;
			position: absolute;
			right: 0;
		}

		.loading {
			position: absolute;
			top: 30%;
			right: 45%;
			width: 70px;
		}

		.video-modal {
			width: 560px;
			height: 315px;
		}

		.imagen-modal {
			width: 50vw;
		}

		.iconos-proyectos {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;

			img {
				width: 30px;
			}
		}



	}

}