.modaaaal {

	.modal-body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		.video-modal {}

		.imagen-modal {
			width: 250px;

		}

		.zoom {
			transition: 1.5s ease;
			-moz-transition: 1.5s ease;
			/* Firefox */
			-webkit-transition: 1.5s ease;
			/* Chrome - Safari */
			-o-transition: 1.5s ease;
			/* Opera */
		}

		// .zoom:hover{
		// 	transform : scale(4);
		// 	-moz-transform : scale(4); /* Firefox */
		// 	-webkit-transform : scale(4); /* Chrome - Safari */
		// 	-o-transform : scale(4); /* Opera */
		// 	-ms-transform : scale(4); /* IE9 */
		// }
	}

}