.my-modal {

	font-family: "royal-ave";

	.modal-header {
		border-bottom: 0px !important;
		padding-bottom: 0px !important;
	}

	.modal-body {
		padding-top: 0px !important;
		font-family: "komet";
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		position: relative;

		.tentaculoIzquierda {
			position: absolute;
			left: 0;
			width: 100px;
		}

		.tentaculoDerecha {
			width: 130px;
			position: absolute;
			right: 0;
		}

		.loading {
			position: absolute;
			top: 30%;
			left: 50%;
			width: 70px;
			transform: translateX(-50%);
		}

		.video-modal {
			width: 560px;
			height: 315px;
		}

		iframe {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}

		.imagen-modal {
			width: 70%;
			z-index: 2;
			border-radius: 10px;
		}

		.verticalImage {
			height: 350px !important;
			object-fit: contain;
		}

		.iconos-proyectos {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;

			div {
				display: flex;
				gap: 10px;

			}

			img {
				width: 30px;
			}
		}


	}

	span {
		text-align: center;
	}

	.desc {
		width: 90%;

	}
}

@media (min-width: 1000px) {
	.loading {
		top: 35% !important;
	}
}

@media (max-width: 991px) {
	.modal-body {
		.video-modal {
			width: 442px !important;
			height: 261px !important;
			z-index: 2;
		}

		span {
			z-index: 2;
		}
	}

}

@media (max-width: 700px) {
	.loading {
		top: 33% !important;
	}
}

@media (max-width: 575px) {
	.modal-body {
		gap: 0 !important;
		;

		.desc {
			margin-top: 10px;

		}

		.video-modal {
			width: 320px !important;
			height: 261px !important;

		}

	}
}

@media (max-width: 425px) {
	.modal-body {
		.video-modal {
			width: 250px !important;
			height: 261px !important;
			z-index: 2;
		}

	}

	.iconos-proyectos {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px
		}
	}

	.loading {
		top: 28% !important;
	}
}