@import "../../variables.scss";

.portafolio-container {
   background-color: $fondo-portafolio;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


   h1 {
      font-family: "royal-ave";
      text-align: center;
      margin-top: 120px;
      margin-bottom: 20px;
      font-size: 50px !important;
   }
}

@media only screen and (max-width: 500px) {
   h1 {
        margin-bottom: 0;
   }
}