@import "../../variables.scss";

.portafolio-container {
   background-color: $fondo-portafolio;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h1 {
      font-family: "montserrat" !important;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 20px;
      font-size: 50px !important;
   }
}

@media (max-width: 500px) {
   .portafolio-container {
      h1 {
         font-size: 30px !important;
         margin-bottom: 0;
      }
   }
}