@import "../../variables.scss";

.navbar-container {
    a {
        text-align: center;
    }

    font-family: 'royal-ave';
    color: $negro !important;
    background: #ffffff;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 10%, rgba(167, 191, 195, 1) 100%);
    position: absolute !important;
    top: 0;
    width: 100% !important;

    .logo {
        width: 200px !important;
        margin-left: 30px;
    }


    .estilo-link,
    .estilo-portafolio>a {
        color: $negro !important;
        padding: 10px;
        border-radius: 30px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;

    }

    .estilo-link:hover,
    .estilo-portafolio>a:hover {
        background-color: $azul-claro !important;
        color: $negro !important;
        border-radius: 30px !important;
        border: 1px solid rgb(0, 0, 0) !important;
    }



    .dropdown-menu {
        background-color: rgba(167, 191, 195, 0.411);
        padding: 10px;

    }

    .contacto {
        margin-left: 10px;
    }



    @media (max-width: 992px) {
        //tablets

        //hamburguesa
        .navbar-nav {

            a {
                background-color: $azul-claro !important;
                color: $negro !important;
                border-radius: 30px !important;
                border: 1px solid rgb(0, 0, 0) !important;
                width: 200px;
                margin-bottom: 5px;
            }

        }

        .navbar-toggler {
            border: 1px solid black;
            margin-right: 30px !important;
        }


        //TODO PASAR A LA DERECHA
        #basic-navbar-nav {
            margin-left: 70vw;

        }

        .contacto {
            margin-left: 0;
        }

        .dropdown-menu {
            //  background: #fafafa;
            //   background: linear-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(167, 191, 195, 1) 100%);
            background-color: rgba(167, 191, 195, 0);
            border: 0 solid rgba(0, 0, 255, 0);
            padding: 10px;
            margin-left: -40px;

        }

    }

    @media (max-width: 800px) {
        #basic-navbar-nav {
            margin-left: 60vw;
        }
    }

    @media (max-width: 700px) {
        #basic-navbar-nav {
            margin-left: 55vw;
        }
    }

    @media (max-width: 400px) {
        #basic-navbar-nav {
            margin-left: 40vw;
        }
    }

}

@media (max-width: 992px) {
    //tablets

}

@media (max-width: 600px) {
    //cel

}