@import "../../variables.scss";

.navbar-container {
    font-family: 'royal-ave';
    color: $negro !important;
    // background: #ffffff00;
    //background: linear-gradient(90deg, rgba(161, 205, 173, 1) 0%, rgba(167, 191, 195, 1) 100%);
    background: #ffffff;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 10%, rgba(167, 191, 195, 1) 100%);
    position: absolute !important;
    top: 0;
    width: 100% !important;
    height: 113px;

    .logo {
        width: 200px !important;
    }

    .container {
        margin-left: 15px;

    }

    a,
    .link {
        color: $negro;
        padding: 10px;
        border-radius: 30px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }

    a:hover,
    .link:hover {
        background-color: $azul-claro !important;
        //color: $negro !important;
        border-radius: 30px !important;
        border: 1px solid rgb(0, 0, 0) !important;
    }

    .dropdown-menu {
        //  background: #fafafa;
        //   background: linear-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(167, 191, 195, 1) 100%);
        background-color: rgba(167, 191, 195, 0.411);
        padding: 10px;

        a:hover {
            background-color: rgba(167, 191, 195, 1) !important;
            color: $negro !important;
            border-radius: 30px;
        }

    }

    @media (max-width: 992px) {
        //tablets

        //hamburguesa
        .navbar-nav {

            a {
                background-color: $azul-claro !important;
                color: $negro !important;
                border-radius: 30px !important;
                border: 1px solid rgb(0, 0, 0) !important;
                width: 200px;
                margin-bottom: 5px;
            }

        }

        .navbar-toggler {
            border: 1px solid black;
            margin-right: 15px !important;
        }

        .navbar-container {
            background-color: blue;

        }

        //TODO PASAR A LA DERECHA
        .navbar-collapse {
            justify-content: end !important;
            align-items: center !important;
        }
    }

    @media (max-width: 600px) {

        //cel

    }

}

@media (max-width: 992px) {
    //tablets

}

@media (max-width: 600px) {
    //cel

}