body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
@font-face {
    font-family: "komet";
    /* Choose a name for your font */
    src: local("komet"),
        url("./assets/fonts/fonnts.com-Komet_Regular_SC.otf") format("opentype");
}
@font-face {
    font-family: "royal-ave";
    /* Choose a name for your font */
    src: local("royal-ave"),
        url("./assets/fonts/Royal_Avenue_Demo.otf") format("opentype");
}
@font-face {
    font-family: "montserrat-light";
    /* Choose a name for your font */
    src: local("montserrat"),
        url("./assets/fonts/Montserrat-Light.otf") format("opentype");
}
@font-face {
    font-family: "montserrat-medium";
    /* Choose a name for your font */
    src: local("montserrat"),
        url("./assets/fonts/Montserrat-Medium.otf") format("opentype");
}

@font-face {
    font-family: "montserrat";
    /* Choose a name for your font */
    src: local("montserrat"),
        url("./assets/fonts/Montserrat-Regular.otf") format("opentype");
}
