.proyectos-container {
    margin-top: 20px;
    padding: 20px;
  //  background-color: blue;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}
@media only screen and (max-width: 500px) {
  .proyectos-container {
    margin-top:   0px;


  }
}